<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>623415734198-bf1pn4h17u1u5mu43ir34n5ttb0hbtop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623415734198-bf1pn4h17u1u5mu43ir34n5ttb0hbtop</string>
	<key>API_KEY</key>
	<string>AIzaSyDE8C2knX68Tw6PQLRMZZQRUd9htGqg5-4</string>
	<key>GCM_SENDER_ID</key>
	<string>623415734198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghsoft.ios.AllMarket</string>
	<key>PROJECT_ID</key>
	<string>vote-597a4</string>
	<key>STORAGE_BUCKET</key>
	<string>vote-597a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:623415734198:ios:62d8fd35017def79</string>
	<key>DATABASE_URL</key>
	<string>https://vote-597a4.firebaseio.com</string>
</dict>
</plist>